[user]
	email = LeeFlemingster@protonmail.com
	name = Lee Fleming
[init]
	defaultBranch = master
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	credentialStore = cache
	helper = cache --timeout 21600
	helper = oauth
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
