polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        action.lookup("program") == "/usr/local/bin/toggle-internal-keyboard.sh" &&
        subject.user == "lee") {
        return polkit.Result.YES;
    }
});
